.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 5px;
}


.heroSection {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.topNav {
  height: 107px;
  background-color: #fff;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 17px 31px;
  background: #4375FB;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.afterNav{
  height: 102px;
  background-color: #fff;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.afterNav h2{
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.sites {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.site1 {
  display: flex;
  flex-direction: column;
}

.active {
  color: rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
}

.focus {
  color: #000;
}

.site1 .underline {
  background-color: #000;
}

.active p {
  font-size: 18px;
  font-weight: 500;
  text-align: right;
}

.site1 span {
  background-color: rgba(0, 0, 0, 0.25);
  width: 30px;
  height: 2.498px;
}

.arrow{
  stroke-width: 0.25px;
  stroke: rgba(0, 0, 0, 0.25);
}

.mainBoard{
  padding: 60px;
  background-color: #fff;
}

.links {
  font-size: 14px;
  font-weight: 400;
  color: #7c7c7c;
  margin-bottom: 5px;
  display: flex;
  height: 51px;
}

.link {
  display: flex;
  align-items: center;
}

.siteView {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-shrink: 0;
  align-self: stretch;
}

.themePark{
  padding: 30px;
  background-color: #fff;
  display: flex;
  border: 5px solid rgb(214, 219, 220);
  margin-top: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 30px;
}

.details h1{
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.location {
  display: flex;
  gap: 5px;
}

.location p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.30);
}

.tags {
  display: flex;
  gap: 10px;
}

.tag {
  display: flex;
  padding: 1px 5px;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.20);
}

.tag p {
  font-size: 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.50);
}

.polygonLink {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  align-items: center;
}

.polygonLink p{
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: rgba(67,117,251,1);
}

.detail{
  display: flex;
  gap: 30px;
}

.detailCols{
  display: flex;
  flex-direction: column;
}

.detailCols h3{
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
}

.detailCols p {
  font-size: 11px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.30);
  white-space: nowrap;

}


.detailLinks {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: end;
  gap: 5px;
}

.detailLinks .btn {
  width: 273px;
}

.detailLinks .visitBtn{
  background-color: #fff;
  color: #4375fb;
  border: 2px solid #4375fb;
  width: 136px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.statusBar{
  display: flex;
  justify-content: space-around;
  width: 273px;
  align-items: flex-end;
}

.statusBar h1{
  font-size: 24px;
  font-weight: 700;
  color: #4375FB;
}

.statusBar h5{
  font-size: 15px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.30);
  margin-bottom: 1px;
}

.line {
  width: 273px;
  height: 5px;
  background-color: #e2e2e2;
  position: relative;
}

.blueLine {
  width: 94px;
  height: 5px;
  background: #4375FB;
  position: absolute;
}



@media screen and (max-width: 820px){
  .afterNav{
    flex-direction: column;
    padding: 10px 40px;
  }
  .themePark{
    flex-direction: column;
    gap: 30px;
  }

  .details{
    width: 100%;
  }

  .detail{
    overflow: hidden;
  }

  .detailLinks{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .detailCols h3{
    font-size: 13px;
  }
  .detailCols p{
    font-size: 7px;
  }
}


@media screen and (max-width: 670px){
  .afterNav h2{
    font-size: 25px;
  }  
  .details h1{
      font-size: 19px;
    }
    .tags, .detail {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .detailLinks .btn {
      width: 200px;
    }
    .detailLinks .visitBtn{
      gap: 5px;
      justify-content: center;
    }
}

@media screen and (max-width: 600px){
  .main{
    flex-direction: column;
    gap: 0;
  }
  .heroSection{
    width: 100%;
  }
  .topNav{
    padding: 10px 20px;
  }
  .topNav .btn{
    padding: 10px 19px;
  }
  .afterNav h2{
    font-size: 18px;
  }  
  .mainBoard{
    padding: 30px;
  }
  .links{
    font-size: 8px;
  }
  .polygonLink p{
    font-size: 7px;
  }
  .details h1{
    font-size: 15px;
  }
  .location p{
    font-size: 12px;
  }
  .tags, .detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .detailLinks .btn {
    width: 100px;
    padding: 10px 18px;
  }
  .statusBar{
    width: 200px;
  }
  .statusBar h1{
    font-size: 16px;
  }
  .statusBar h5{
    font-size: 10px;
  }
  .line{
    width: 150px;
  }
  .blueLine{
    width: 50px;
  }
  
}

