.status{
  width: 50%;
  background-color: #FFF;
  height: 100vh;
  overflow-y: scroll;
}


.landStatus{
  padding: 20px;
  display: flex;
  width: 100%;
  align-items: flex-start;
 
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

.input{
  width: 10%;
  margin-top: 6px;
}

.heading{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.heading h2{
  font-size: 20px;
  font-weight: 400;
}
.checkedHeading h2{
  font-size: 22px;
  font-weight: 700;
}

.checkedHeading .dis h2{
  font-weight: 400;
}

.head p{
  font-size: 15px;
  font-weight: 400;
  color: rgba(67, 117, 251, 0.50);
}

.head h1{
  font-size: 32px;
  font-weight: 700;
  color: #4375FB;
}

.completeBtn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
}

.completeBtn span {
  font-size: 20px;
  font-weight: 400;
}

.btn {
  padding: 17px 31px;
  background: #4375FB;
  color: #f2f2f2;
  font-size: 14px;
  font-weight: 400;
  border: none;
  width: 169px;
  margin-top: 40px;
}

.checkedBtn{
  padding: 17px 31px;
  color: #4375FB;
  font-size: 14px;
  font-weight: 400;
  width: 169px;
  margin-top: 20px;
  border: 1px solid #4375FB;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width:600px){
  .status{
    width: 100%;
  }
}